{% extends 'base.html' %}
{% block title %}
	{{ block.super }} – 
		{% if request.path == '/' %}
			main 
		{% elif request.path == '/popular/' %}
			popular
		{% endif %} 
		page
{% endblock %}
{% block content %}

	<div class="container border">
	    <div class="row">
            <div class="col-10">
            	{% for obj in questions %}
	                <div style="height: 200px;" class="mx-2 my-2 p-3 border">
	                    <h2><a href="{{ obj.build_url }}">{{ obj.title }}</a></h2>
	                    <div>
							{{ obj.text }}
						</div>
	                    <p class="py-1">Added at: {{ obj.added_at|date:"d.m.y" }}</p>
	                </div>
	            {% endfor %}
            </div>
            <div class="col-2">

            </div>
	    </div>
	</div>
	<nav>
		<ul class="pagination pagination-md">
			{% for p in paginator.page_range %}
				{% if p == page.number %}
					<li class="page-item active" aria-current="page">
				{% else %}
					<li class="page-item">
				{% endif %}
				<a class="page-link" href="{{ paginator.baseurl }}?page={{ p }}">
				{{ p }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
	<!-- <script src="http://127.0.0.1/js/bootstrap.bundle.min.js"></script> -->
{% endblock %}
