{% extends 'base.html' %}
{% block title %}
	{{ question|truncatechars:"20" }}
{% endblock %}
{% block content %}

	<h2>{{ question }}</h2>
	<p>{{ question.text }}</p>
	<p>Author: {{ question.author }}</p>
	{% if question.author == request.user %}
		<a href="/delete/?type=question&id={{question.id}}" class="btn-sm btn-danger">Delete</a>
	{% endif %}
	<hr>
	{% for obj in answers %}
	<div class="answer">
		<p>{{ obj }}</p>
		<p>{{ obj.author }}</p>
		{% if obj.author == request.user %}
			<a href="/delete/?type=answer&id={{obj.id}}" class="btn-sm btn-danger">Delete</a>
		{% endif %}
		<hr>
		<!-- {{ obj.added_at|date:"d.m.Y" }} -->
	</div>
	{% endfor %}
	<hr>
	
	<p>Add new answer</p>
    {% for e in form.non_field_errors %}
        <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}
    <form class="form-horizontal" method="post" action="{{ question.build_url }}">{% csrf_token %}
        <fieldset>
        	{% for field in form.hidden_fields %}
        		{{ field }}
        	{% endfor %}
            {% for field in form.visible_fields %}
            <div class="control-group
                {% if field.errors %}has-error{% endif %}">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}</div>
            </div>
            {% endfor %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}